body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

#score-board {
  margin-bottom: 20px;
  font-size: 20px;
}

#gameCanvas {
  border: 1px solid black;
}